@charset "utf-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del,
	dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol,
	ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td,
	article, aside, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: Microsoft Yahei, Arial, Helvetica, Verdana;
	font-size: 14px;
	background-color: #fff;
	overflow: hidden;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #FFF;
}

.wrapper {
	max-width: 480px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.header {
	width: 100%;
	height: 50px;
	background-color: #1a1b23;
	text-align: center;
	position: relative;
}

.title {
	color: #9fa2b8;
	line-height: 50px;
}

.main {
	width: 90%;
	margin: 0 auto;
}

.help {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 30px;
}

.buy-gold {
	position: absolute;
	right: 10px;
	top: 0;
	color: #5fc782;
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.question {
	text-indent: 2em;
	font-size: 15px;
	padding: 5px 0 5px 0;
	color: #333;
}
.answer {
	text-indent: 2em;
	font-size: 14px;
	padding: 5px 0 5px 0;
	color: #888;
}